@import url('https://fonts.googleapis.com/css2?family=Oi&family=Quicksand:wght@300..700&family=Rubik+Vinyl&display=swap');

*{
box-sizing: border-box;
}

body {
background: #f7ff00; /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
background: linear-gradient(to right, #db36a4, #f7ff00);
}

body, div, ul, nav, header, footer, a, li, label {
margin: 0;
padding: 0;
}

/* HEADER SECTION */

.header {
display: flex;
 justify-content: space-between;
 align-items: center;
}

.header__title {
font-family: 'Oi';
 color: #f7ff00;
 margin-top: 2%;
}

.header__logo {
max-width: 100%;
width: 64px;
margin: 10px 20px;

}

/* PROFILE SECTION */

.profile {
container-name: profile;
container-type: inline-size;
}

.profile__wrapper {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 1400px;
}

.profile__data-container {
max-width: 600px;
border: 2px solid #161616;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.profile__img-container {
max-height: 500px;
overflow: hidden;
}

.profile__img {
max-width: 100%;
width: 720px;
border: 2px solid #161616;
border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}

.main__subtitle {
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 900;
color: #f7ff00;
padding: 20px;
margin: 20px;
}

.profile__skills-container h2 {
color: aqua;
 margin-left: 2%;
}

.profile__skills {
 list-style: none;
 display: flex;
margin: -15px 30px 2px 1px;
max-width: 600px;
 margin-left: 0;
align-items: center;

}

.load-bar {
 background: #03001e;
 background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);
 background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);
 border-radius: 30px;
 color: #fff;
padding: 2px;
font-size: 32px;
 width: 70rem;
 margin: 24px;
 margin-left: 0;
}


/* PROFILE QUERIES */

@container profile (min-width: 720px) {
 .profile__wrapper {
 flex-direction: row;
 padding: 10px;
 background-color: transparent;
 height: 80vh;
 margin: auto;
 }
.profile__data-container {
 background: #000000;
background: -webkit-linear-gradient(to right, #434343, #000000);
 background: linear-gradient(to right, #434343, #000000);
 display: flex;
 text-wrap: balance;
}
.profile__data {
 max-width: 620px;
 }
 .profile__img-container {
 max-height: initial;
 }
 .profile__img {
 height: 100%;
 object-fit: cover;
 width: 620px;
 }
}